body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-container {
    position: relative;
}

#screenshot {
    max-width: 100%;
    height: auto;
}

#play-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff5733;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#game-details {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 18px;
}

#game-title {
    font-size: 36px;
    margin-bottom: 10px;
}

#game-description {
    font-size: 24px;
}