
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}


.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.game-container img {
    max-width: 100%;
    max-height: 80vh;
}

.buttons-container {
    margin-top: 20px;
}


button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #f00; 
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color: #ff4500; 
}

.character {
    position: absolute;
    max-width: 20%; /* size of both character*/
    top: 60%; /* Adjust the vertical position */
    transform: translateY(-50%);
}

.character-1 {
    left: 40%; /* horizontal position for character 1 */
}

.character-2 {
    right: 40%; /*  horizontal position for character 2 */
}